<div id="login-form-holder"> 
				<form>
					<div id="login-form">
						<label for="tb-login-username">Username: </label>
						<input type="text" id="tb-login-username"><br />
						<label for="tb-login-password">Password: </label>
						<input type="password" id="tb-login-password"><br />
						<button id="btn-login" class="button">Login</button>
					</div>
					<div id="register-form" style="display: none">
						<label for="tb-register-username">Username: </label>
						<input type="text" id="tb-register-username"><br />
						<label for="tb-register-nickname">Nickname: </label>
						<input type="text" id="tb-register-nickname"><br />
						<label for="tb-register-password">Password: </label>
						<input type="password" id="tb-register-password"><br />
                        <label for="tb-register-email">E-mail: </label>
						<input type="password" id="tb-register-email"><br />
						<button id="btn-register" class="button">Register</button>
					</div>
					<a href="#" id="btn-show-login" class="button selected">Login</a>
					<a href="#" id="btn-show-register" class="button">Register</a>
				</form>
</div>
