<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStringCount" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1234/calc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IStringCount" contract="IStringCount"
          name="BasicHttpBinding_IStringCount" />
    </client>
  </system.serviceModel>
</configuration>