<ul id="logged-menu">
    <li><a href="#/appointments">See all appointments</a></li>
    <li><a href="#/see-upcomming-appointments">See upcomming appointments</a></li>
    <li><a href="#/search-appointments-by-date">Search appointments by date</a></li>
    <li><a href="#/see-today-appointments">Get today's appointments</a></li>
    <li><a href="#/see-current-appointments">Get current appointments</a></li>
    <li><a href="#/todo-lists">See to-do lists</a></li>
    <li><a href="#/about">About us</a></li>
</ul>





